.results-header {
  padding-top: 50px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.results-header-title {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 10%;
}

.results-header form {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.results-header form svg {
  margin-right: 14px;
  cursor: pointer;
}
.results-header form svg:hover {
  fill: black;
}

.results-header form input {
  flex: 1;
  width: 90%;
  padding: 10px 20px;
  font-size: medium;
  outline: none;
  border: none;
  background-color: #f5f5f5;
}

.similar-queries {
  display: flex;
  flex-direction: row;
}

.similar-query {
  display: block;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  min-width: 145px;
  font-size: 14px;
  font-weight: 700;
  color: #767676;
  border: 1px solid #767676;
  border-radius: 4px;
  padding: 13px;
  text-align: center;
  transition: 0.2s;
}

.similar-query:hover {
  color: black;
  border: 1px solid black;
}
